@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Thin.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

button {
  border-radius: 4px;
  border: none;
  padding: 10px 14px;
  gap: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}
button:focus {
  outline: none;
}
button:focus::before {
  content: "";
  left: -4px;
  right: -4px;
  bottom: -4px;
  top: -4px;
  border-radius: 4px;
  background: none;
  position: absolute;
}

.full {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.bold {
  font-weight: 600;
}

.form__container {
  height: 700px;
  width: 768px;
  background-color: #F9FAFB;
  padding: 16px 64px 26px;
  position: relative;
}
.form__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
}
.form__sec__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-top: 8px;
}
.form__data {
  height: calc(100% - 64px);
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form__data__card {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
.form__button__blue {
  background-color: #3B82F6;
  color: #FFFFFF;
  width: 128px;
  float: right;
  position: relative;
}
.form__button__blue:focus::before {
  border: 2px solid #3B82F6;
}
.form__button__blue:hover {
  background-color: #60A5FA;
}
.form__button__white {
  background-color: #FFFFFF;
  color: #000000;
  float: left;
  position: relative;
}
.form__button__white:focus::before {
  border: 2px solid #FFFFFF;
}
.form__button__error {
  background-color: #D1D5DB;
  color: #FFFFFF;
  width: 128px;
  float: right;
}
.form__button__error:focus::before {
  border: 2px solid #D1D5DB;
}
.form__button__container {
  margin-top: auto;
}
.form__total {
  margin-top: 24px;
}
.form__total > * {
  margin-top: 6px;
}
.form__total div:last-child {
  margin-top: 20px;
}
.form__final {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 13px;
}
.form__final div:last-of-type {
  margin-top: 7px;
}
.form__final .form__button__blue {
  width: 300px;
}

@media (max-width: 768px) {
  .form__container {
    padding: 16px 20px 26px;
    width: 660px;
  }
}
@media (max-width: 640px) {
  .form__container {
    width: 100vw;
    padding: 10px 10px 30px;
    height: 100%;
    min-height: 100%;
  }
  .form__data {
    height: calc(100% - 62px);
  }
  .form__data__card {
    flex-direction: column;
    gap: 4px;
  }
  .form__data__card:nth-child(6), .form__data__card:nth-child(7) {
    flex-direction: row;
  }
  .form__data__card:nth-child(6) .input__container, .form__data__card:nth-child(7) .input__container {
    text-align: right;
  }
  .form__data__card:nth-child(6) .input__container > *, .form__data__card:nth-child(7) .input__container > * {
    float: right;
  }
  .form__data__card:nth-child(6) {
    margin-top: 30px;
  }
  .form__button__blue {
    width: 100%;
  }
  .form__button__white {
    width: 100%;
  }
  .form__button__error {
    width: 100%;
  }
  .form__button__container {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .form__final {
    width: 100%;
  }
  .form__final div:last-child {
    position: absolute;
    bottom: 20px;
  }
  .form__final .form__button__blue {
    width: calc(100vw - 20px);
  }
  .form__total div:last-child {
    margin-top: 20px;
  }
}
.input__container {
  width: 318px;
}

.input__text, .input__number {
  width: 100%;
  height: 32px;
  border: 1px solid #E5E7EB;
  border-radius: 4px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  padding: 7px 8px;
}

.input__checkbox {
  height: 16px;
  width: 16px;
}

.input__radio {
  height: 14px;
  width: 14px;
  margin: 13px 7px 0 0;
}

.input__checkbox__mobile, .input__radio__mobile {
  display: none;
}

.input__error {
  position: relative;
}
.input__error input {
  color: #EF4444;
  background-color: #FEF2F2;
  border-color: #FECACA;
}
.input__error span {
  position: absolute;
  color: #EF4444;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  left: 8px;
  bottom: -12px;
}

@media (max-width: 640px) {
  .input__container {
    width: 100%;
  }
  .input__checkbox, .input__radio {
    display: none;
  }
  .input__checkbox__mobile, .input__radio__mobile {
    display: flex;
  }
  .input__date {
    width: 100%;
  }
}
.container {
  background-color: #A9A3A3;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  display: flex;
}
@media (max-height: 701px) {
  .container {
    align-items: flex-start;
  }
}
@media (max-width: 640px) {
  .container {
    align-items: flex-start;
    height: 100vh;
    min-height: 700px;
  }
}/*# sourceMappingURL=app.css.map */